.menu-text {
    text-decoration: none;
    display: block;
    color: #05F2AF;
    text-align: center;
}

.nav-link {
    color: var(--main-hard)!important;
}

.nav-link.active {
    color: var(--main-complimentary)!important;
}

body{
    background-color: var(--main-gray)!important;
}

.main-content {
    margin-top: 200px; /* Adjust this value based on your navbar height */
  }

  .carousel-caption-custom{
    position: static; /* Removes absolute positioning */
    padding: 1rem;    /* Optional: add padding */
    background: none; /* Remove any background if added by default */
    text-align: center;
  }


